body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 40px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.form-title hr{
  width: 100px;
  height: 2px;
  background-color: #000;
}

.form-title h2{
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-field {
  width: 50%;
  padding: 8px;
  border: 2px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
}
input::placeholder{
  color: #000;
}
.button {
  background-color: #fff;
  color: #000;
  border: solid;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 33%;
  border-radius: 4px;
  border: 2px solid #000;
}

.book-table {
  width: 100%;
  margin-top: 20px;
  border: 2px solid #000;
  border-radius: 3px;
}

.book-table th,
.book-table td {
  padding: 12px;
  text-align: left;
}

.book-table th {
  background-color: #2b1f1f;
  color: #fff;
}

.book-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.book-table tr:hover {
  background-color: #ddd;
}

.remove-button {
  background-color: #fff;
  color: #040404;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  border: 3px solid #000;
  border-radius: 4px;
}